<h2>News</h2>

<ul>
{{#each news}}
<li>
  <section>
    <header>{{title}}</header>
    <main>
      {{notes}}
    </main>
    <footer>
        <a href="{{url}}"">more...</a>
    </footer>
  </section>
  </li>
{{/each}}
</ul>