html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset,
object {
  border: none;
}

ul {
  list-style: none;
}

*,
*:after,
*:before {
  flex: 1 0 auto;
  /* safari bugfix */
  box-sizing: border-box;
  font-family: "noto sans", sans-serif;
}

button,
select,
textarea,
input {
  font-family: "noto sans", sans-serif;
}

button,
label {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
  background-color: var(--flow-background);
}

body>header {
  border-bottom: 1px solid #033030;
  flex-grow: 0;
  background-color: var(--chrome-bg);
}

body>main {
  max-width: min(100%, 45rem);
  margin: 2rem;
  flex-grow: 1;
  justify-content: stretch;
  justify-self: stretch;
  align-self: center;
}

body>main>section,
body>main article {
  margin-bottom: 2rem;
}

body>main>header {
  margin-top: 1rem;
}

body>footer {
  border-top: 1px solid #030303;
  padding: 2rem;
  flex-grow: 0;
  background-color: var(--chrome-bg);
  justify-self: stretch;
}

body>main>form>fieldset,
form#login>fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

body>main>form>fieldset>label,
form#login>fieldset>label {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

body>main>form>fieldset>label>small {
  padding: 0 1em;
  padding-top: 0.25em;
}

body>main>form>header,
form#login>header {
  margin-bottom: 2rem;
}

body>main>form>header.errors,
form#login .errors {
  border: 1px solid darkred;
  color: darkred;
  background-color: rgba(225, 0, 0, 0.1);
  padding: 1em;
  margin: 1em 0;
}

body>footer {
  margin-top: 2rem 1rem;
  display: flex;
  flex-direction: row;
  color: var(--secondary-text-color);
  font-size: .8rem;
}

body>footer>* {
  flex-grow: 0;
}

body>footer *:first-child {
  flex-grow: 1;
}

/* primary header */

#top {
  padding: 0 0.75rem;
}

#top h1 {
  font-size: 2rem;
}

#top h1~* {
  flex-grow: 0;
}

#top a {
  text-decoration: none;
}

#top nav {
  margin: 0.75rem 0;
}

#top nav ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

#top nav li {
  list-style: none;
  flex-grow: 0;
}

#top li a {
  padding: 0.2rem 0.75rem;
  transition: 0.2s;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  color: var(--menu-link);
}

#top li a:hover,
#top li a:focus {
  transform: scale(1.25);
  color: var(--menu-link-hover-hover);
  background-color: var(--meu-hover);
  font-weight: bold;
}

input.required::after {
  content: "*";
  position: relative;
  color: red;
  font-size: 4rem;
  left: 2%;
  right: 2%;
  z-index: 2;
}

.modal,
.modal>.modal-close {
  position: fixed;
  top: 110%;
  left: 110%;
  right: 0;
  bottom: 0;
  overflow: auto;
  scroll-behavior: smooth;
  cursor: default;
}

.modal {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  flex-direction: column;
  opacity: 0;
}

.modal .modal-close>span {
  position: absolute;
  right: -100%;
  bottom: -100%;
  width: 0;
  height: 0;
  display: none;
}

.modal>div,
form#login {
  border: var(--border-thick);
  background-color: var(--flow-background);
  color: var(--primary-text-color);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  max-width: min(80%, 40rem);
  flex-grow: 0;
  box-shadow: .25rem .25rem .5rem gray;
}

.modal:target {
  opacity: 1;
  transition: opacity .25s;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.modal>div>header,
form#login>header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.modal>div>header .modal-close {
  flex-grow: 0;
  text-decoration: none;
}

.modal>div>footer,
form#login>footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1rem;
  gap: 1rem;
  margin-top: 1rem;
}

.actions>*,
form#login>footer>* {
  flex-grow: 0;
}

.icon-close::after {
  content: 'X';
  font-size: 1rem;
  color: var(--primary-text-color);
}

form#login {
  margin-top: min(10rem, 20%);
  min-width: min(80%, 30rem);
  box-shadow: unset;
  border: var(--border-thin);
}

form#login .errors,
body>main>section p:not(:last-child) {
  margin-bottom: 1rem;
}

#mailing-list {
  background-color: var(--mailing-list-background);
  color: var(--mailing-list-text);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

#mailing-list>header {
  display: block;
}

#mailing-list>form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 1rem;
}

#mailing-list>header p {
  color: var(--mailing-list-header);
  margin-bottom: 1rem;
}

#mailing-list>form>fieldset {
  flex-grow: 1;
}

#mailing-list>form>fieldset input {
  width: 100%;
}

#mailing-list>form>footer {
  flex-grow: 0;
}