<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,00&iconnames=menu" />
    <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" media="print,screen" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/site.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/assets/css/icons.css" type="text/css" media="print,screen" />

    <title>{%- block title -%}{%- endblock title -%} - The Phsyadelic Road Trip</title>
</head><body>
    <header id="top">
        <a href="/">
            <h1>The Phsyadelic Road Trip</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/diary">Diary</a></li>
            </ul>
        </nav>
        <div class="icon_menu"></div>
    </header>
    <main>
        {%- block content %}{% endblock content -%}
    </main>
    <footer>
        <pre style="font-size: .8rem;font-family: 'Courier New', Courier, monospace">{{ __tera_context |  as_str }}</pre>
    </footer>
</body>

</html>